# python compile files
# ===========
*.pyc

# private
# ===========
credentials/
media/*
# Exception to the rule
!media/README.md
static/*
# Exception to the rule
!static/README.md
scripts/*
jrcfloodtool/settings.py

# Eclipse project files
# ======================
.project
.pydevproject
*.pyproj

# Visual Studio project files
# ======================
.settings/
.vs/
*.sln

