# python compile files
# ===========
*.pyc

# private
# ===========
credentials/
media/*
# Exception to the rule
!media/README.md
static/*
# Exception to the rule
!static/README.md
scripts/install.sh
jrcfloodtool/settings.py

# Unused templates
# ======================
jrcfloodtool/templates/home_.html
jrcfloodtool/templates/panels/graph.html
jrcfloodtool/templates/panels/map-view.html

# Eclipse project files
# ======================
.project
.pydevproject
*.pyproj

# Visual Studio project files
# ======================
.settings/
.vs/
*.sln

# Vendor files
# ======================
jrcfloodtool/static/vendor/*

