.date-slider.rzslider .rz-bar {
    background: rgba(51, 122, 183, 0.4);
    height: 4px;
}
.date-slider.rzslider .rz-selection {
    background: rgba(51, 122, 183, 1);
}

.date-slider.rzslider .rz-pointer {
	width: 8px;
	height: 16px;
	top: auto; /* to remove the default positioning */
	bottom: 0;
	background-color: #333;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.date-slider.rzslider .rz-pointer:after {
	display: none;
}

.date-slider.rzslider .rz-bubble {
    bottom: 14px;
}

.date-slider.rzslider .rz-limit {
  font-weight: bold;
  color: red;
}

.date-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.date-slider.rzslider .rz-tick.rz-selected {
    background: red;
}