.banner-container {
    background: url("https://servir.adpc.net/themes/svmk/images/optimized/satellite-inside.png");
    background-position: 110% 70%;
    background-repeat: no-repeat;
    background-size: 800px auto;	
}

.menu-container {
	background-color: black !important;
}

.banner {
    height: 50px;
    margin: 10px;
    float: left;
    background: no-repeat fixed center;
}

.usaid {
    background-size: auto 50px;
    width: 170px !important;
}

.nasa {
    background-size: auto 50px;
    width: 60px !important;
}

.adpc {
    background-size: auto 50px;
    width: 110px !important;
}

.servir {
    float: right;
    background-size: auto 35px;
    width: 250px !important;
    padding-top: 10px;
}

.navmenu {
	color: rgb(255,255,255) !important;
    color: rgba(255,255,255,0.87) !important;
    text-transform: uppercase;
}