{% extends "layout.html" %}
{% load cms_tags staticfiles %}

{% block main_container %}

    <!-- Main Container -->
    <div class="row" ng-controller="mapCtrl">

        <!-- Toggle Button -->
        <!--<button type="button" ng-click="openSidebar()" ng-class="toggleButtonClass" data-toggle="offcanvas">
            <span class="ts-top"></span>
            <span class="ts-middle"></span>
            <span class="ts-bottom"></span>
        </button>-->

        <!-- Sidebar Container -->
        <div id="tabList" class="col-sm-5 col-md-3 col-lg-3 sidebar">
            <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href ng-click="page='first'">View Data</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href ng-click="page='second'">Analysis</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href ng-click="page='third'">Result</a>
                    </li>
            </ul>

        <div class="tab-content">    
            <div ng-init="page='first'"></div>
            <div ng-show="page === 'first'">
                {% include "panels/view-and-data-download.html" %}
            </div>

            <div ng-show="page === 'second'">
                {% include "panels/analysis.html" %}
            </div>

            <div ng-show="page === 'third'">
                    {% include "panels/result.html" %}
            </div>
        </div>
        </div>

        <!-- Alert Container -->
        <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
            <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>[[alertContent]]</strong>
        </div>

        <!-- Legend Container -->
        <div class="panel panel-default legend" ng-show="showLegend">
		    <div class="panel-heading">
		        <h4>
		            <a class="legend-toggle"
		               data-toggle="collapse"
                       data-parent="#accordion"
                       href="#legend-body"></a>
                    Legend
                 </h4>
		    </div>
		    <div class="panel-collapse collapse out" id="legend-body">
	            <div class="panel-body">
		            <span class="text-center"><h5><b>Surface<br />Water<br />Occurrence</b></h5></span>
		            <div>
		                <table>
		                    <tbody>
			                    <tr><td rowspan="4"><img src="{% static 'images/legend.png' %}" alt="legend"/></td></tr>
			                    <tr><td>100%</td></tr>
			                    <tr><td>50%</td></tr>
			                    <tr><td>1%</td></tr>
		                    </tbody>
		                </table>
		            </div>
	            </div>
            </div>
        </div>

        <!-- Map Container -->
        <div class="map col-sm-7 col-md-9 col-lg-9" id="map" ng-init="initMap('2000', '2012', '01', '12', 'continuous', true)"></div>
        
    </div>

{% endblock main_container %}
