{% extends "layout.html" %}
{% load cms_tags %}

{% block main_container %}

    <!-- Main Container -->
    <div class="row" ng-controller="mapCtrl">

        <!-- Toggle Button -->
        <button type="button" ng-click="openSidebar()" ng-class="toggleButtonClass" data-toggle="offcanvas">
            <span class="ts-top"></span>
            <span class="ts-middle"></span>
            <span class="ts-bottom"></span>
        </button>

        <!-- Sidebar Container -->
        <div ng-class="sidebarClass">            
            <!-- <ul class="nav nav-sidebar">
                <li>
					<rzslider class="date-slider"
					          rz-slider-model="dateSlider.minValue"
					          rz-slider-high="dateSlider.maxValue"
					          rz-slider-options="dateSlider.options"></rzslider>                    

                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>            
            </ul> -->

            {% include "panels/view-and-data-download.html" %}
        </div>

        <!-- Map Container -->
        <div class="alert alert-dismissible custom-alert text-center display-none" role="alert">
            <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>[[alertContent]]</strong>
        </div>
        <div ng-class="mapClass" id="map" ng-init="initMap('2000-01', '2012-12', true)">
	        <div class="loader" ng-show="showLoader">
	            <div class="loading-img" style="background: url(../static/img/loading.gif) center center no-repeat;"></div>
	        </div>
        </div>
        
    </div>
    

{% endblock main_container %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}
