/* Global Styles */

@media(min-width:768px) {
    body {
        /*margin-top: 50px;*/
        margin-top: 100px;
    }
}

.container-wrapper {
	margin-top: 15px;
	margin-right: -15px;
    margin-left: -15px;
    overflow: hidden;
}
/*.main-container {
    padding-top: 15px;
    margin: 2em;
}*/

.grow:hover {
    transform: scale(1.05);
}

.grow {
    transition: all .2s ease-in-out;
}

.map {
	display: block;
	height: calc(100vh - 115px);
	margin-top: 100px;
	/*background-color: rgb(241, 241, 241);
	background-color: rgba(241, 241, 241, 1);
    margin-top: 2em;*/
}

/* Loader */
.loading-img {
    width: 120px;
    height: 120px;
    margin-left: 50%;
    margin-top: 10%;
}

.loader {
    z-index: 1005;
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/* Collapsible */
.panel-heading .accordion-toggle:after {
	font-family: "FontAwesome";
	content: "\f147";
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	float: right;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\f196";
}

.panel-heading .accordion-toggle {
    color: white !important;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none !important;
}

/* Alert */
.custom-alert {
	margin-left: 25%;
    width: calc(100vw - 26.5%);
    position: fixed;
    z-index: 2;
    margin-top: 103px;
}

.custom-alert-full {
	margin-left: 4%; /* See sidebar.css .toggle-sidebar-button.is-open */
	width: calc(100vw - 5%);
	position: fixed;
	z-index: 2;
	margin-top: 103px;
}

.display-none {
    display: none;
}

.margin-top-maintain {
	/* padding-right: 160px; */
    /* padding-left: 160px; */
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    margin-top: 10%;
}

@media (max-width: 1024px) {
	.margin-top-maintain {
		/* padding-right: 160px; */
	    /* padding-left: 160px; */
	    /* padding-bottom: 50px; */
	    /* padding-top: 50px; */
	    margin-top: 13%;
	}
}

/* Clipboard Icon */
.clipboard-icon {
    width: 18px;
    height: 18px;
    /* padding: 0; */
    /* margin: 0; */
    vertical-align: middle;
}

.maintain-padding {
	padding-bottom: 10px;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.main-padding {
	/*padding-right: 150px;
	padding-left: 150px;*/
	padding-right: 5% !important;
	padding-left: 5% !important;
}

/* Legend */
.legend {
	position: absolute;
    bottom: 20px;
    display: inline-block;
    z-index: 3;
    margin: 20px;
    /*float: left;*/
}

.legend tr td img {
	height: 8%;
    margin: 5px;
}

.legend h5 {
	padding-left: 5px;
    padding-right: 5px;
}

.legend-sec {
	position: absolute;
    bottom: 20px;
    display: inline-block;
    z-index: 3;
    margin: 20px;
    left: 400px;
    /*float: left;*/
}

.legend-sec tr td img {
	height: 8%;
    margin: 5px;
}

.legend-sec h5 {
	padding-left: 5px;
    padding-right: 5px;
}

.panel-heading .legend-toggle {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none !important;
}

.panel-heading .legend-toggle:after {
    font-family: "FontAwesome";
    content: "\f147";
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    float: right;
    margin-left: 10px;
}

.panel-heading .legend-toggle.collapsed:after {
    content: "\f196";
}

.shadow {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.fa-info-circle {
    color: rgb(0, 159, 252);
    font: 18px;
    border-radius: 50%;
    height: 2em;
    width: 2em;
  }

.map_opacity {
    width: 70%;
    float: right;
}