.sidebar {
	left: 0;
	position: relative;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
	background-color: white;
	border: 1px solid black;
	height: calc(100vh - 115px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-height: calc(100vh - 115px);
	margin-top: 100px;
}

/* Hide for mobile, show later */
/*
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    left: 0;
    position: relative;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid black;
    height: calc(100vh - 115px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-height: calc(100vh - 115px);
  }
}
*/

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    list-style: none;
}

.sidebar-table {
    width: 100%;
    text-align: left;
}

/*
.nav-sidebar li {
	position: relative;
	width: 100%;
	display: inline-block;
}


.nav-sidebar li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgb(28, 28, 28);
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    -o-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.nav-sidebar li:nth-child(1):before {
    background-color: rgb(236, 27, 90);   
}
.nav-sidebar li:nth-child(2):before {
    background-color: rgb(121, 174, 254);
}
.nav-sidebar li:nth-child(3):before {
    background-color: rgb(49, 65, 144);   
}

.nav-sidebar li:nth-child(4):before {
    background-color: rgb(39, 150, 54);   
}
.nav-sidebar li:nth-child(5):before {
    background-color: rgb(125, 93, 129);   
}
.nav-sidebar li:nth-child(6):before {
    background-color: rgb(234, 210, 76);   
}
.nav-sidebar li:nth-child(7):before {
    background-color: rgb(45, 35, 102);   
}
.nav-sidebar li:nth-child(8):before {
    background-color: rgb(53, 172, 223);   
}
*/

.nav-sidebar li a:hover,
.nav-sidebar li a:active,
.nav-sidebar li a:focus,
.nav-sidebar li.open a:hover,
.nav-sidebar li.open a:active,
.nav-sidebar li.open a:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: blue;
}

.nav-sidebar li a {
    display: block;
    color: rgb(221, 221, 221);
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar li:hover:before,
.nav-sidebar li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    -o-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

/** Toggle Sidebar Button and animation settings **/

.toggle-sidebar-button {
	position: absolute;
	z-index: 1;
	margin-top: 110px;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.toggle-sidebar-button:hover,
.toggle-sidebar-button:focus,
.toggle-sidebar-button:active {
	outline: none;
}

.toggle-sidebar-button.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transition: all .35s ease-in-out;
}

.toggle-sidebar-button.is-closed:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.toggle-sidebar-button.is-closed .ts-top,
.toggle-sidebar-button.is-closed .ts-middle,
.toggle-sidebar-button.is-closed .ts-bottom,
.toggle-sidebar-button.is-open .ts-top,
.toggle-sidebar-button.is-open .ts-middle,
.toggle-sidebar-button.is-open .ts-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.toggle-sidebar-button.is-closed .ts-top,
.toggle-sidebar-button.is-closed .ts-middle,
.toggle-sidebar-button.is-closed .ts-bottom {
    background-color: rgb(255, 255, 255);
}

.toggle-sidebar-button.is-closed .ts-top { 
    top: 5px; 
    -webkit-transition: all .35s ease-in-out;
}

.toggle-sidebar-button.is-closed .ts-middle { 
    top: 50%; 
    margin-top: -2px;
}

.toggle-sidebar-button.is-closed .ts-bottom { 
    bottom: 5px; 
    -webkit-transition: all .35s ease-in-out;
}

.toggle-sidebar-button.is-closed:hover .ts-top { 
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.toggle-sidebar-button.is-closed:hover .ts-bottom { 
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}


.toggle-sidebar-button.is-open .ts-top,
.toggle-sidebar-button.is-open .ts-middle,
.toggle-sidebar-button.is-open .ts-bottom {
    background-color: white;
}

.toggle-sidebar-button.is-open .ts-top,
.toggle-sidebar-button.is-open .ts-bottom {
	top: 50%;
    margin-top: -2px;  
}

.toggle-sidebar-button.is-open .ts-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.toggle-sidebar-button.is-open .ts-middle { 
	display: none; 
}

.toggle-sidebar-button.is-open .ts-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}

.toggle-sidebar-button.is-open {
	margin-left: 25%;
}

@media (max-width: 992px) {
	.toggle-sidebar-button.is-open {
		margin-left: 42%;
	}
}

/* Slider */
#layer-opacity-slider .slider-selection {
	background: #BABABA;
}
