<!-- Graph Panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            <a class="accordion-toggle" 
               data-toggle="collapse"
               data-parent="#accordion"
               href="#graph-charts-filter">Graph and Charts</a>
        </h4>
    </div>
    <div id="graph-charts-filter" class="panel-collapse collapse out text-center">
        <div class="panel-body">
            <table class="sidebar-table">
                <tbody>
                    <tr>
                        <td>
							<!-- <p class="text-center">
							    <a class="btn navbar-btn btn-primary" href="">Line Graph</a>
							    <a class="btn navbar-btn btn-default" href="">Pie Chart</a>
							</p> -->
							<div class="text-center"> <!-- <div class="btn-group text-center">  -->
                                <a href="#" class="btn btn-success">Line Graph</a>
                                <a href="#" class="btn btn-success">Pie Chart</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>                    
        </div>
    </div>
</div>