<!-- Map View Panel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            <a class="accordion-toggle" 
               data-toggle="collapse"
               data-parent="#accordion"
               ng-click="broadcastTimeSlider()"
               href="#map-view-filter">Map View Filter</a>
        </h4>
    </div>
    <div id="map-view-filter" class="panel-collapse collapse out text-center">
        <div class="panel-body">
            <table class="sidebar-table">
                <tbody>
                    <tr><td><h5><b>Select Time Period</b></h5></td></tr>
                    <tr>
                        <td>
                            <rzslider class="date-slider"
                                      rz-slider-model="dateSlider.startHandle"
                                      rz-slider-high="dateSlider.endHandle"
                                      rz-slider-options="dateSlider.options"></rzslider>
                        </td>
                    </tr>
                    <tr>
                        <td><hr><h5><b>Draw Area</b></h5></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Split button dropdowns -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Draw By</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="drawRectangle()">Rectangle</a></li>
                                    <li><a href="" ng-click="drawCircle()">Circle</a></li>
                                    <li><a href="" ng-click="drawPolygon()">Freehand</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="" ng-click="clearOverlays()">Clear Drawing</a></li>
                                    <li><a href="" ng-click="stopDrawing()">Stop Drawing</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>                    
        </div>
        <!-- End Panel Body -->
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" ng-click="updateMap()">Update Map</button>
        </div>
    </div>
    <!-- End Map View Panel -->
</div>