<!-- Data Download Panel -->
<div class="panel panel-primary">
    <!-- <div class="panel-heading">
        <h4>
            <a class="accordion-toggle" 
               data-toggle="collapse"
               data-parent="#accordion"
               ng-click="broadcastTimeSlider()"
               href="#data-download-and-view-filter">View Data</a>
        </h4>
    </div> -->
    <div id="data-download-and-view-filter" class="panel-collapse collapse in text-center">
        <div class="panel-body">
            <table class="sidebar-table">
                <tbody>
                    <!-- <tr class="border-bottom">
                        <td>
                            <div class="btn-group maintain-padding">
                                <button type="button" class="btn btn-primary" ng-click="drawShape('polygon')">Draw Polygon</button>
                                <button type="button" class="btn btn-primary">Area Filter</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="drawShape('polygon')">Polygon</a></li>
                                    <li><a href="" ng-click="drawShape('rectangle')">Rectangle</a></li>
                                    <li><a href="" ng-click="drawShape('circle')">Circle</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr> -->
                    <tr><td><h5><b>Select element to display</b></h5></td></tr>
                    <tr class="border-bottom">
                        <td>
                                <!-- <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkMapData"
                                               ng-click="clickMapData()"/>
                                        Map Data
                                    </label>
                                </div> -->

                                <!--<div class="form-group" ng-show="showLayerOpacity">
                                    <label for="layer-opacity">Opacity: </label>
                                    <input name="layer-opacity" id="layer-opacity"
                                           data-slider-id="layer-opacity-slider" type="text"
                                           data-slider-min="0"
                                           data-slider-max="1"
                                           data-slider-step="0.1" />
                                </div>-->

                                <!-- <div class="border-bottom"></div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkWorldPop"
                                               ng-click="clickWorldPop()"/>
                                        Word Pop Data
                                    </label>
                                </div> -->
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkTSBoundary"
                                               ng-click="clickTSBoundary()"/>
                                        Township Boundary
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkStateBoundary"
                                               ng-click="clickStateBound()"/>
                                        State/Region Boundary
                                    </label>
                                </div>
                                
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkRdNet"
                                               ng-click="clickRdNet()"/>
                                        Road Network
                                    </label>
                                </div>
                                
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkShLoc"
                                               ng-click="clickShLoc()"/>
                                        Shelter Location
                                    </label>
                                </div>
                                
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkWhLoc"
                                               ng-click="clickWhLoc()"/>
                                        Warehouse Location
                                    </label>
                                </div>
                                
                                <div class="form-group" ng-show="showPolygonDrawing">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkPolygonDrawing"
                                               ng-click="clickPolygonDrawing()"/>
                                        Polygon
                                    </label>
                                </div>
                                
                        </td>
                    </tr>
                    <tr><td><h5><b>Select hazard to display</b></h5></td></tr>
                    <tr class="border-bottom">
                        <td>

                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkMapData"
                                               ng-click="clickMapData()"/>
                                        Actual Flood Frequency
                                    </label>
                                </div>
                                
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                               value="" 
                                               ng-checked="checkAggFH"
                                               ng-click="clickAffFH()"/>
                                        Aggregate Flood Hazard
                                    </label>
                                </div>
                                
                        </td>
                    </tr>
                    <tr><td>
                        <div ng-show="checkMapData || checkAggFH">
                            <br />
                            <div class="form-group">
                                    <label for="time-period-method">Select Time Period To Display</label>
                                    <select name="time-period-method" title="Time Period Method"
                                            class="form-control js-tooltip"
                                            ng-init="timePeriodOption = timePeriodOptions[0]"
                                            ng-options="option.name for option in timePeriodOptions"
                                            ng-model="timePeriodOption"></select>
                            </div>
                            <h5><b>Select Years</b></h5>
                            <div class="input-group input-daterange datepicker-year-class">
                                <input type="text" data-provide="datepicker" class="form-control" id="datepicker-year-start" placeholder="Start Year" ng-model="startyr">
                                <div class="input-group-addon">to</div>
                                <input type="text" data-provide="datepicker" class="form-control" id="datepicker-year-end" placeholder="End Year" ng-model="endyr">
                            </div>
                            <h5><b>Select Months</b></h5>
                            <div class="input-group input-monthrange datepicker-month-class">
                                <input type="text" data-provide="datepicker" class="form-control" value="01" id="datepicker-month-start" placeholder="Start Month" ng-model="startmt">
                                <div class="input-group-addon">to</div>
                                <input type="text" data-provide="datepicker" class="form-control" value="12" id="datepicker-month-end" placeholder="End Month" ng-model="endmt">
                            </div>
                        </div>
                    </td></tr>
                    <!--<tr ng-show="showLayerOpacity">
                    	<td>
                    		<div class="form-group">
                    			<label for="layer-opacity">Layer Opacity</label>
                    			<br />
	                    		<input name="layer-opacity" id="layer-opacity"
	                    			   data-slider-id="layer-opacity-slider" type="text"
	                    			   data-slider-min="0"
	                    			   data-slider-max="1"
	                    			   data-slider-step="0.1" />
                    		</div>
                    	</td>
                    </tr>
                    <tr ng-show="showPolygonDrawing">
                    	<td>
                    		<div class="form-group">
                    			<label class="checkbox-inline">
                    				<input type="checkbox"
                    					   value="" 
                    					   ng-checked="checkPolygonDrawing"
                    					   ng-click="clickPolygonDrawing()"/>
                    				Polygon
                    			</label>
                    		</div>
                    	</td>
                    </tr>-->
                </tbody>
            </table>                    
        </div>
        <!-- End Panel Body -->
        <div class="panel-footer">
            <div class="row text-center">
                <button type="button" class="btn btn-primary" ng-click="updateMap()">Update Map</button>
                <hr />
                <div class="btn-group">
	                <button type="button" class="btn btn-primary">Download Map Data</button>
	                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    <span class="caret"></span>
	                    <span class="sr-only">Toggle Dropdown</span>
	                </button>
	                <ul class="dropdown-menu">
	                    <li><a href="" target="_blank" class="download-btn" ng-click="downloadMap()">Get URL</a></li>
	                    <li><a href="" ng-click="showGDriveFileName()">To Your Google Drive</a></li>
	                </ul>
                </div>
            </div>
            <!--<button type="button" class="btn btn-primary" ng-click="getWorlPopNumber()">Show Affected People</button>-->
            <div ng-show="downloadUrl" class="input-group">
                <hr>
                <input type="text" class="form-control" value="[[downloadURL]]">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-copy js-tooltip"
                            data-toggle="tooltip" data-placement="bottom" 
                            title="Copy to clipboard"
                            ng-click="copyToClipBoard()"
                            style="margin-bottom: -41px;">
                        <!-- icon from google's material design library -->
                        <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                    </button>
                </span>
            </div>
            <div ng-show="gDriveFileName">
                <hr>
                <input type="text" id="gdrive-file-name" placeholder="Enter Filename in Google Drive!" class="form-control">
                <hr>
                <button type="button" ng-click="saveToDrive()" class="btn btn-primary">Start Download</button>
            </div>
        </div>
    </div>
</div>